{% extends "poll_webapp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<feildset class="form-group">
				<legend class="border-bottom mb-4">Register now to vote!
				</legend>
					{{ form|crispy }}
			</feildset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign up!</button>
			</div>
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">Already registerd? <a class="ml-2" href="{% url 'login_user' %}">Sign in</a></small>
		</div>
	</div>
{% endblock content %}